body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #5f9341;
    margin-bottom: 4px;
}

button {
    background: #5f9341;
    color: white;
    padding: 10px 20px;
    border: 1px solid #5f9341;
    font-weight: bold;
}
button:hover{
    cursor: pointer;
}
button:active{
    opacity: 80%;
    transform: scale(0.9);
    transition: 0.1s;
}
/* Style the button according to the provided design */

#delete-btn {
    border: 1px solid #5f9341;
    background-color: white;
    font-weight: bold;
    color:#5f9341;
    padding: 10px 20px;
}
#delete-btn:active{
    background-color:#5f9341;
    color: white;
}
#delete-btn:hover{
    background-color: #5f9341;
    color: white;
    transition: 0.1s;
    cursor: pointer;
}

ul {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}

li {
    margin-top: 5px;
}

a {
    color: #5f9341;
}


